:root {
  --primary: #337ab7;
  --primarydark: #23527c;
  --px20: 1.25em;
  --px16: 1em;
  --px36: 2.25em;
}

.col-md-4 {
    border-left: 1px solid #ccc;
  height: fit-content;

}
.ftags {
  dispaly: flex;
  flex-direction: row;
}
img {
 vertical-align: middle;
 max-width: 100%; 
}
.primary {
  color: var(--primary);
}

* {
  box-sizing: border-box;
  color: #333;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
/*  padding: 20px;*/
  background: #fff;
  line-height: 1.42;
}

.faicon {
  font-size: var(--px16);
  color: var(--primary);
  margin-right: 5px;
}


a {
  color: var(--primary);
  font-size: var(--px16);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: var(--primarydark);
}

.nav-link {
  font-size: var(--px20);
}
/* Header/Blog Title */
.header {
  text-align: center;
  background: white;
  border-bottom: 1px solid #ccc;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.fa {
  font-size: var(--px20);
}
.fa:hover {
  color: var(--primary);
}

.nolist {
  list-style-type: none;
  padding: 0;
}
/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 0.5em;
}
.card h3,
.heading h1,
.heading p {
  margin-block: 0;
}
.heading {
  text-align: left !important;
  width: 100%;
}
.tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tag {
  margin: 0 5px;
  text-align: left;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
h1 {
  font-size: var(--px36);
  font-weight: 500;
 
}
p {
  font-size: var(--px16);
}
.heading p {
  color: var(--primary);
  font-weight: 600;
}


.title {
  color: var(--primary);
}

.photo {
  padding-right: 15px;
  border: none;
  margin-bottom: 5px;
}

