<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script
      src="https://kit.fontawesome.com/0fc745b86e.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="{{site.url}}/assets/css/main.css" />
  </head>
  <body>
    <div class="container">
      <div class="header">
        <div class="img">
          <img class="photo" src="{{site.url}}/assets/img/me.jpeg" alt="me" />
        </div>
        <div class="heading">
          <h1 class="title">{{site.title}}</h1>
          <p>{{site.description}}</p>
        </div>
        <div class="socials">
          <a href="https://github.com/{{github_usename}}"
            ><i class="fa fa-github"></i
          ></a>
        </div>
      </div>

      <div class="row">
    
        <div class="leftcolumn">
          {{content}}
        </div>

        <div class="rightcolumn">
          <div class="card">
            <ul class="nolist">
              {% for item in site.data.navigation.items %}
              <li>
                <a class="nav-link" href="{{ item.url }}">{{ item.title }}</a>
              </li>
              {% endfor %}
            </ul>
          </div>

          <div class="card">
            <h3>Last blog articles:</h3>
            <div class="tags">
              {% for post in site.posts limit: 5 %}
              <div class="tag">
                <a href="{{post.url | downcase }}#disqus_thread"> EMPTY </a>
              </div>
              {% endfor %}
            </div>
          </div>

          <div class="card">
            <h3>Tags:</h3>
            <div class="tags">
              {% assign tags = site.tags %} {% for tag in tags %}
              <div class="tag">
                <a href="/tag/{{ tag | first |  downcase }}.html">
                  {{ tag[0] }}
                </a>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <script id="dsq-count-scr" src="//vitekdvorak-cz.disqus.com/count.js" async></script>
  </body>
</html>
